
body{
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  background-color: #fefefe;
  display: flex;
  justify-content: center;
}

.Nav{
  font-size: larger;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

.sub-nav{
  color:#5e5c57;
  padding-left: 15rem;
  padding-right: 15rem;
  display: flex;
  justify-content: center;
}

.main-content{
  color: #5e5c57;
  padding-left: 12rem;
  padding-right: 12rem;
  display: flex;
  justify-content: center;
}

.sub-main-content{
  color: #5e5c57;
  margin-left: 10rem;
  margin-right: 10rem;
  display: flex;
  justify-content: center;
}
p{
  text-align: center;
}